@charset "utf-8";
/* CSS Document */

h2 {
	margin:5px;
	text-align:center;
}
#main {
	font-family: "新微軟正黑體","微軟正黑體", Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	margin:0 auto;
	width:1000px;
	height:560px;
	text-align:center;
}
#mapFrame {
	float:right;
	width:100%;
	height:50px;
}
#myMap {
	float:right;
	background-color:#dedede;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
#drag {
	position: absolute;
	left:70px;
	right:30px;
}

#scheduleFrame {
	float: left;
	background-color:#333;
	color:#FFF;
	border-bottom-right-radius:2px;
	border-top-right-radius:2px;
	position:absolute;
	height:470px;
	width:190px;
	z-index:2;
	/*text-shadow: 0 1px 1px rgba(255,255,255,.7);*/
	-moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	-webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}
#mySchedule {
	float:left;
	margin: 0px;
	padding: 0px;
	height:100%;
	width:100%;
	z-index:3;
}
.block {
	width:150px;
	height:100px;
	background-color:#CCC;
	margin:5px;
	line-height:40px;
	font-size:13px;
	text-align:center;
	cursor:move;
	z-index:3;
}
#buttonFrame {
	position:absolute;
	left:0px;
	top:0;
	height:290px;
	width:30px;
	padding:0;
	z-index:2;
}
.button {
	float:left;
	width:70px;
	height:30px;
	line-height:30px;
	margin-bottom:45px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	background-color:#666666;
	color:#CCCCCC;
	cursor:pointer;
	z-index:3;
	-moz-transform-origin:right bottom;
	-moz-transform:rotate(-90deg);
	-webkit-transform-origin:right bottom;
	-webkit-transform:rotate(-90deg);
	-o-transform-origin:right bottom;
	-o-transform:rotate(-90deg);
	-ms-transform-origin:right bottom;
	-ms-transform:rotate(-90deg);
	transform-origin:right bottom;
	transform:rotate(-90deg);
}
.button:hover {
	background-color:#999;
	color:#333;
}

.bg {
	width:100%;
	height:100%;
	background-color:#000000;
	position:absolute;
	top:0;
	left:0;
	opacity:0.7;
	z-index:4;
}
.framebox {
	display:none;
	z-index:5;
	width:100%;
	height:100%;
	background-color:#FFFFFF;
}
.lightbox {
	display:none;
	background-color:#000;
	width:700px;
	height:450px;
	position:absolute;
	top: 10%;
	left: 20%;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	text-align:center;
	border-radius:15px;
	z-index:6;
}

.firstpage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1100;	
}

.menu {
	position:absolute;
	background-color:#333333;
	width:610px;
	height:450px;
	position:absolute;
	z-index:1111;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	padding:10px;
	/*text-shadow: 0 1px 1px rgba(255,255,255,.7);*/
	-moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	-webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}
.menu h1	{
	font-size:20px;
	line-height:20px;
	text-align:center;
}
.menu div {
	padding:2px;
	border-radius:2px;
}

.title {
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	height:40px;
	color:#FFFFFF;
	border-bottom: 2px solid #CCC;
}
.map {
	position:absolute;
	top:55px;
	left:10px;
	height: 400px;
	width: 300px;
}
.attri {
	position:absolute;
	top:70px;
	right:0;
	left:320px;
	height:180px;
	width: 290px;
	background-color: #666;
}
.guider {
	position:absolute;
	top:265px;
	left:320px;
	height:115px;
	right:0;
	width: 290px;
	background-color: #666;
}

.active {
	position:absolute;
	top:395px;
	right:0;
	left:320px;
	height:50px;
	background-color: #CCC;
	width: 290px;
}
